.container {
  height: 500px;
  border: 15px solid rgb(21, 55, 168);
  width: 800px;
  display: flex;
  padding: 2rem 2rem;
  padding-left: 2rem;
  padding-top: 3rem;
  background-color: aquamarine;
  gap: 10px;
  justify-content: center;
}
.box {
  padding: 1rem;
  border-radius: 10rem;
  border: 1rem solid pink;
  background-color: blanchedalmond;
  transform: translatex(-100px);
  transform: translatey(-90px);
}
